/* CSS per a dispositius amb amplada inferior a 800px (Dispositius móbils).*/
@media screen and (max-width: 800px) {
  .App {
    text-align: center;
    background-color: #ff0080;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
  }

  .Privacy {
    text-align: center;
  }

  .logo {
    width: 60%;
  }

  .dropdowns {
    display: flex;
    justify-content: space-between;
  }

  .divLeft {
    justify-content: flex-start;
    width: 20%;
  }

  .divRight {
    justify-content: flex-end;
    justify-content: flex-end;
  }

  .dropdown {
    display: inline-block;
    color: #343a40;
    background-color: #ffffff;
    border-color: #343a40;
    border-radius: 0.25rem;
    font-size: 1.2rem;
    font-weight: 400;
    align-self: baseline;
    padding: 0.375rem 0.75rem;
    width: 150%;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-top: 17.5%;
    margin-left: 30%;
  }

  .buttonsMain {
    align-items: center;
    justify-content: center;
  }

  .button1Main {
    display: inline-block;
    align-items: center;
  }

  .button2Main {
    padding: 10%;
    display: inline-block;
    align-items: center;
  }

  .inputURL {
    width: 70%;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    padding: 0.4%;
    background-color: #343a40;
    border-color: #343a40;
    border-radius: 0.25rem;
    margin-bottom: 9%;
  }

  .inputFile {
    width: 150%;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    padding: 0.4%;
    background-color: #343a40;
    border-color: #343a40;
    border-radius: 0.25rem;
  }

  .divBackground {
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 80%;
  }

  .logoHorizontal {
    width: 70%;
  }

  .navbar {
    font-size: 130%;
    list-style: none;
    display: inline-block;
  }

  .divFunction {
    display: block;
    align-items: center;
  }

  .divBackground {
    display: inline-block;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #ffffff;
    padding: 2%;
    width: 75%;
    margin-bottom: 10%;
    background-color: #343a40;
    border-color: #343a40;
    border-radius: 0.25rem;
  }

  .sendButton {
    align-items: center;
    justify-content: center;
    color: #ffffff;
    padding: 0.4%;
    width: 10%;
    background-color: #343a40;
    border-color: #343a40;
    border-radius: 0.25rem;
  }

  .parent2 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 100%;
    text-align: center;
    bottom: 5%;
    margin-top: 10%;
    position: fixed;
  }

  .parent {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 100%;
    text-align: center;
    bottom: 5%;
    margin-top: 10%;
    position: fixed;
  }

  .terms {
    margin-right: 2%;
    color: aliceblue;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .privacy {
    color: aliceblue;
    margin-left: 2%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .buttonLight {
    color: #343a40;
    padding: 0.4%;
    width: 90%;
    background-color: #ffffff;
    border-color: #ffffff;
    border-radius: 0.25rem;
  }

  .customText {
    margin-left: 5%;
  }

  .text {
    font-size: 50%;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
    text-align: justify;
  }

  .h2-title {
    font-size: 130%;
    color: #ffffff;
    font-weight: bold;
  }

  .center {
    font-size: 120%;
    text-align: center;
    font-weight: bold;
  }

  .loadingSvg {
    margin-bottom: 12%;
    align-self: center;
    margin-top: 2%;
  }

  svg {
    color: #ffffff;
  }

  .loadingText {
    align-self: center;
    text-align: center;
    margin-top: 5%;
  }

  .inputText {
    align-items: center;
    justify-content: center;
    color: #ffffff;
    padding: 0.4%;
    width: 70%;
    background-color: #343a40;
    border-color: #343a40;
    border-radius: 0.25rem;
    margin-bottom: 8%;
  }

  p {
    margin-left: 10%;
    margin-right: 10%;
    color: #ffffff;
  }

  .dwButton {
    margin-left: -3%;
    margin-right: 0%;
    width: 10%;
    margin-top: 2%;
  }

  .checkboxAudio {
    width: 0%;
    margin-left: 5%;
    margin-right: -100%;
    visibility: hidden;
  }

  .imgCheck {
    width: 15%;
    margin-right: -80%;
  }

  .sounds {
    width: 70%;
    margin-right: 4%;
    margin-top: 2%;
    margin-bottom: -0.7%;
  }

  .containeraudio {
    margin-left: 10%;
  }

  .sendButton3 {
    align-items: center;
    justify-content: center;
    color: #ffffff;
    padding: 0.5%;
    width: 30%;
    margin-bottom: 5%;
    background-color: #343a40;
    border-color: #343a40;
    border-radius: 0.25rem;
    margin-top: 9%;
    margin-left: 1%;
    margin-right: 2%;
  }
}

/* CSS per a dispositius amb amplada superior a 801px (Tàblets, ordinadors, etc.).*/

@media screen and (min-width: 801px) {
  .App {
    text-align: center;
    background-color: #ff0080;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
  }

  .Privacy {
    text-align: center;
  }

  .logo {
    transform: translate(0%, -20%);
    align-content: center;
    justify-content: center;
  }

  .logoHorizontal {
    width: 40%;
    align-content: center;
    justify-content: center;
  }

  .dropdowns {
    display: flex;
    justify-content: space-between;
  }

  .divLeft {
    justify-content: flex-start;
  }

  .divRight {
    justify-content: flex-end;
    justify-content: flex-end;
  }

  .dropdown {
    display: inline-block;
    color: #343a40;
    background-color: #ffffff;
    border-color: #343a40;
    border-radius: 0.25rem;
    font-size: 1.2rem;
    font-weight: 400;
    align-self: baseline;
    padding: 0.375rem 0.75rem;
    width: 150%;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-top: 17.5%;
    margin-left: 30%;
  }

  .button1 {
    width: 80px;
    height: 50px;
  }

  .button1Main {
    display: inline-block;
    align-items: center;
    margin: 0 10px;
  }

  .divFunction {
    display: block;
    align-items: center;
    transform: translate(0%, 30%);
  }

  .divButton {
    display: block;
    align-items: center;
    transform: translate(0%, 70%);
  }

  .divEmail {
    display: block;
    align-items: center;
    transform: translate(0%, 50%);
  }

  .button2Main {
    display: inline-block;
    align-items: center;
    margin: 0 10px;
  }

  .terms {
    margin-right: 2%;
    color: aliceblue;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .privacy {
    color: aliceblue;
    margin-left: 2%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .parent {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 100%;
    text-align: center;
    bottom: 5%;
    margin-top: 10%;
    position: relative;
  }

  .parent2 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 100%;
    text-align: center;
    bottom: 5%;
    margin-top: 10%;
    position: fixed;
  }

  .navbar {
    font-size: 130%;
    list-style: none;
    display: inline-block;
  }

  .buttonsMain {
    padding: 4%;
    align-items: center;
    justify-content: center;
    transform: translate(0%, -85%);
  }

  .inputFile {
    align-items: center;
    justify-content: center;
    color: #ffffff;
    padding: 0.4%;
    background-color: #343a40;
    border-color: #343a40;
    border-radius: 0.25rem;
  }

  .inputURL {
    align-items: center;
    justify-content: center;
    color: #ffffff;
    padding: 0.4%;
    width: 35%;
    background-color: #343a40;
    border-color: #343a40;
    border-radius: 0.25rem;
  }

  .sendButton {
    align-items: center;
    justify-content: center;
    color: #ffffff;
    padding: 0.5%;
    margin-left: 1%;
    margin-top: 1%;
    width: 10%;
    background-color: #343a40;
    border-color: #343a40;
    border-radius: 0.25rem;
  }

  .sendButton2 {
    align-items: center;
    justify-content: center;
    color: #ffffff;
    padding: 0.4%;
    width: 10%;
    margin-left: 2%;
    margin-bottom: 2%;
    background-color: #343a40;
    border-color: #343a40;
    border-radius: 0.25rem;
  }

  .sendButton3 {
    align-items: center;
    justify-content: center;
    color: #ffffff;
    padding: 0.5%;
    width: 10%;
    margin-bottom: 5%;
    background-color: #343a40;
    border-color: #343a40;
    border-radius: 0.25rem;
    margin-top: 3%;
    margin-left: 2%;
    margin-right: 1%;
  }

  .text {
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
    text-align: justify;
  }

  h2 {
    color: #ffffff;
    font-weight: bold;
  }

  .center {
    text-align: center;
    font-weight: bold;
  }

  .divBackground {
    display: inline-block;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #ffffff;
    padding: 0.4%;
    width: 35%;
    background-color: #343a40;
    border-color: #343a40;
    border-radius: 0.25rem;
  }

  .buttonLight {
    display: inline-block;
    align-items: center;
    justify-content: center;
    color: #343a40;
    padding: 0.4%;
    width: 25%;
    background-color: #ffffff;
    border-color: #ffffff;
    border-radius: 0.25rem;
  }

  .customText {
    align-self: center;
    text-align: center;
    margin-left: 5%;
  }

  .loadingSvg {
    align-self: center;
    margin-top: -5%;
  }

  svg {
    color: #ffffff;
  }

  .loadingText {
    align-self: center;
    text-align: center;
    margin-top: 5%;
  }

  p {
    color: #ffffff;
  }

  .inputText {
    align-items: center;
    justify-content: center;
    color: #ffffff;
    padding: 0.4%;
    width: 22.5%;
    background-color: #343a40;
    border-color: #343a40;
    border-radius: 0.25rem;
  }

  .dwButton {
    margin-left: -3%;
    margin-right: 10%;
    width: 1.5%;
    margin-top: 2%;
  }

  .checkboxAudio {
    margin-right: 5%;
    visibility: hidden;
    display: none;
  }

  .imgCheck {
    width: 11%;
    margin-right: -80%;
  }

  .sounds {
    margin-right: 4%;
    margin-top: 2%;
    margin-bottom: -0.3%;
  }

  .containeraudio {
    margin-left: -20%;
  }

  input[type="checkbox"]:checked + label #bass_img {
    background-color: grey;
    content: url(../img/bass_checked.png);
  }

  input[type="checkbox"]:checked + label #drums_img {
    background-color: grey;
    content: url(../img/drums_checked.png);
  }

  input[type="checkbox"]:checked + label #vocals_img {
    background-color: grey;
    content: url(../img/vocals_checked.png);
  }

  input[type="checkbox"]:checked + label #other_img {
    background-color: grey;
    content: url(../img/other_checked.png);
  }

  input[type="checkbox"] + label img {
    border-radius: 20%;
    padding: 1.8%;
  }

  input[type="checkbox"] + label img:hover {
    transform: scale(0.9);
    cursor: pointer;
  }
}
